 <!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!--yang akan tampil di Home-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      >
    <head>
        <title>Welcome to Our Site</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h1> Selamat Datang di Halaman Home (Student) !!! </h1>
            </div>      
        </div>
    </body>
</html>
